.div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 8px;

}

.div article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div a{
    margin-top: 5px;
}

.div img {
    background-color: #FFF;
    height: 360px;
    
}